<div class= "container">
  <div class= "row">
    <div class="col-sm-12 col-md-8 col-lg-5 pc-5 px-sm-0 mx-auto">

<h2>Editing Book</h2>
  <%= form_with model: @book do |f| %>
  <div class= "form-group">
  <label for="inputName">Title</label><br>
  <%= f.text_field :title, autofocus: true, id:"inputName"%>
  </div>
  <div class= "form-group">
  <label for="inputImage">Opinion</label><br>
  <%= f.text_area :body %>
  </div>
  <div class= "form-group">
  <%= f.submit "Update Book" %>
  </div>
<% end %>
<%= link_to "Show", book_path(@book.id), class: 'text-blue' %>|
<%= link_to "Back", books_path, class: 'text-blue' %>
</div>
</div>
</div>
<footer>
  <div class="container mt-5">
     <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
     </div>
  </div>
</footer>