<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/userinfo', user: @user %>
      <%= render 'users/newbook', book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <thead>

        </thead>
        <tbody>
       <tr>
         <td>
         <%= link_to user_path(@book.user.id), class: 'nav-link text-blue' do  %><%= image_tag @user.get_profile_image(100,100) %><br> <%=@user.name %> <% end %>
         </td>
         <td>
         <%= link_to book_path(@book.id), class: 'text-blue' do %> <%= @book.title %> <% end %>
         </td>
         <td><%= @book.body %></td>
         <% if @book.user.id == current_user.id %>
         <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %></td>
         <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn btn-sm btn-danger destroy" %></td>
         <% end %>
         <td id="favorite_buttons_<%= @book.id %>">
　　　<%= render "favorites/favorite", book: @book %>
　　</td>
              <td>
                <div class = "comments-count">
                   <%= render 'book_comments/counter', book: @book %>
                </div>
              </td>
              <td>
                <p class="view-count">閲覧数: <%= @book_detail.view_counts.count %></p>
              </td>
       </tr>
       </tbody>

     </table>
     <!--<div>-->
     <!--<%# @book.book_comments.each do |book_comment| %>-->
     <!--   <p><%#= image_tag book_comment.user.get_profile_image(100,100) %></p>-->
     <!--   <%#= book_comment.user.name %>-->
     <!--   <%#= book_comment.created_at.strftime('%Y/%m/%d') %><%#= book_comment.comment %><%#= link_to "Destroy", book_path(@book.id), method: :delete,remotue: true, "data-confirm" => "本当に削除しますか？" , class: "btn btn-sm btn-danger destroy" %><br>-->
     <!--   <%# end %>-->
     <!-- </div>-->
     <!--<div>-->
     <div class = "book_comments">
       <%= render 'book_comments/comment', book: @book %>
     </div class = "comment-form">
       <%= render 'book_comments/comment_form', book: @book, book_comment: @book_comment %>
     </div>
    </div>
  </div>
</div>
<footer>
  <div class="container mt-5">
     <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
     </div>
  </div>
</footer>

















